<div class="container ">
  <div class="head">
    <h1 class="display-6 text-primary">{{city.name}}</h1>
    <h1 class="display-6 text-secondary">City Information</h1>
  </div>
  <hr>
  <div class="row" >
    <div class="col-sm">
      <h3 class="text-info">{{city.country}}</h3>
      <h6 *ngIf="weather" class="text-secondary">Currently {{weather.main.temp.toString().split('.')[0]}}F</h6>
      <a class="btn btn-danger">Click to expand info</a>
    </div>
    <div class="col-sm">
      <img src="/assets/{{city.name.toLowerCase()}}.jpeg" height="200px" width="400px">
    </div>
  </div>
  <h4 class="display-6">Posts</h4>
  <hr>
  <app-posts *ngIf="city.posts" [currentCity]="city"></app-posts>
</div>
