<div class="container">
  <div class="mb-1">
    <h2 class="display-5">{{post.title}}</h2>
    <hr>
    <small class="text-secondary">Written on: {{post.dateCreated}} by {{post.author}}</small>
  </div>
  <div>
    <img src="{{post.img}}"><br>
    <small class="text-success">{{city.name}}, {{city.country}}</small>
    <p class="mt-4">{{post.description}}  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill bi-justify-right" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg></p>
  </div>
</div>


