<div class="container">
  <h6 *ngIf="message" class="text-danger text-end">searching for "{{message}}"</h6>
  <div class="row mb-4" *ngFor="let post of displayedPosts, let i = index">
    <div class="col-3">
      <img class="post-img" src="{{post.img}}">
    </div>
    <div class="col-9">
      <h3 class="display-7"><a class="link-dark" routerLink="/cities/{{currentCity.name}}/posts/{{post.id}}">{{post.title}}</a></h3>
      <p>{{post.description}}</p>
      <small *ngIf="resultPostsDates" class="text-muted">{{resultPostsDates[i]}}</small>
    </div>
  </div>
</div>
